<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    https://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop
    https://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/tx
     http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--1.扫描service下的包-->
    <context:component-scan base-package="com.hekaihang.service"/>

    <!--2.将我们的所有业务类注入到spring,可以通过配置，或者注解实现-->
    <bean id="BookServiceImpl" class="com.hekaihang.service.BookServiceImpl">
        <property name="bookMapper" ref="bookMapper"/>
    </bean>
    <bean id="BulletinServiceImpl" class="com.hekaihang.service.BulletinServiceImpl">
        <property name="bulletinMapper" ref="bulletinMapper"/>
    </bean>
    <bean id="AccountServiceImpl" class="com.hekaihang.service.AccountServiceImpl">
        <property name="accountMapper" ref="accountMapper"/>
    </bean>
    <bean id="CompanyServiceImpl" class="com.hekaihang.service.CompanyServiceImpl">
        <property name="companyMapper" ref="companyMapper"/>
    </bean>
    <bean id="ServeServiceImpl" class="com.hekaihang.service.ServeServiceImpl">
        <property name="serveMapper" ref="serveMapper"/>
    </bean>
    <bean id="ContractServiceImpl" class="com.hekaihang.service.ContractServiceImpl">
        <property name="contractMapper" ref="contractMapper"/>
    </bean>
    <bean id="OrderServiceImpl" class="com.hekaihang.service.OrderServiceImpl">
        <property name="orderMapper" ref="orderMapper"/>
    </bean>

    <!--3.声明式事务配置-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--注入数据源-->
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--4.aop事务支持！调用service层时为了解决不能自动提交事务 开始配置的-->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="*" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut id="txPointCut" expression="execution(* com.hekaihang.dao.*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="txPointCut"/>
    </aop:config>


</beans>